@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="banner-image">
            <img src="~/tour/banner1.jpg" alt="" style="width: 100%; height: 600px; border-radius: 260px;">
            <div class="image-overlay">
                <h1 style="text-shadow:2px 2px #968f8f;" class="display-4">Welcome to Our Tourist Destination</h1>
                <p style="text-shadow:2px 2px #968f8f;" class="lead">Discover the magic of our beautiful countryside</p>
            </div>
        </div>
    </main>
</div>
